<div class="container">
  <div class="bb-custom-wrapper">

    <div id="bb-bookblock" class="bb-bookblock">
      <div class="bb-item" *ngFor="let item of list">
        <div class="bb-custom-firstpage">
          <h1>{{item}}</h1>
        </div>
        <div class="bb-custom-side">
          <p>Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry
            danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.</p>
        </div>
      </div>
    </div>

    <nav>
      <a id="bb-nav-first" href="#" class="bb-custom-icon">First page</a>
      <a id="bb-nav-prev" href="#" class="bb-custom-icon">Previous</a>
      <a id="bb-nav-next" href="#" class="bb-custom-icon">Next</a>
      <a id="bb-nav-last" href="#" class="bb-custom-icon">Last page</a>
    </nav>

  </div>

</div><!-- /container -->
